.vision{
    width: 50%;
    min-height: 10vh;
    padding: 1rem;
}
.vision svg{
    font-size: 3rem;
    color: goldenrod;
}
.vision h3{
    width: 98%;
    margin-bottom: 7px;
    text-align: start;
}
.vision p{
    text-align: start;
    line-height: 24px;
    font-size: 14px;
    width: 98%;
    margin: 0 auto;
}


@media screen and (max-width:900px){
    .vision{
        width: 100%;
    }
    .vision h3{
        width: 90%;
    }
    .vision p{
        width: 100%;
    }
}

@media screen and (max-width:500px){
    .vision p{
        width: 100%;
    }
}