footer{
    width: 100vw;
    height:100%;
    color: gray;
    background-color: #191911;
}
.container{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.bottom{
    width: 100%;
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.end{
 width: 100%;
 padding: 1rem;
}
.end p{
    
    color: gray;
    line-height: 2;
    text-align: center;
    font-size: 12px;
    
}

@media screen and (max-width:900px){
   
    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .services{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
    }

    .services >h2 , .contacts>h2 , .social-media > h2{
        font-size: 1rem;
    }
    .services > p{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        margin-left: 0;
    }
    .bottom{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }
    .contacts > p > a{
        font-size: 12px;


    }
    .connect{
        display: flex;
        flex-direction: column;
    }
}

/* @media screen and (max-width:1050px){
    .services >p {
        font-size: 12px;
    }

    .contacts >p {
        font-size: 12px;
    }
} */