.re-use{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.re-use-wrapper{
    width: 90%;
    min-height: 60vh;
    overflow: hidden;
}
.re-use-wrapper h3{
    text-transform: uppercase;
    padding: 10px 0 5px 0;
    text-align: center;
}
.re-use-wrapper p{
    text-transform: capitalize;
    margin-bottom: 10px;
    text-align: center;
}
.re-use-items{
    width: 100%;
    height: 100%;
    
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
}
.re-use-item{
    width: 300px;
    height: 350px;
    position: relative;
    background-color: #e1e1e1;
}
.re-use-btn{
    width: max-content;
    position: absolute;
    top: 55%;
    left: 12.5%;
    
    border: 0;
    text-transform: capitalize;
    background-color: rgba(255, 255, 255, 0.5);
    color: #444;
    font-weight: 800;
    letter-spacing: 7px;
    text-transform: uppercase;
    padding:.7rem 2rem;
    transition: 500ms ease-in-out;
}
.re-use-item:hover .re-use-btn{
    background-color: black;
    color: white;
}
.re-use-wrapper img{
    width: 300px;
    height: 350px;
    object-fit: cover;
    display: block;
    border: 0.5 solid gray;
}
.re-use-item button{
    cursor: pointer;
}
.last-item{
    width: 350px;
    height: 350px;
    padding: 12.5rem 3rem 0;
    background-color: crimson;
}
.last-item-link{
    width: 100%;
    background-color: black;
    color: white;
    
    padding:0.7rem 2rem;
    font-weight: normal;
    text-transform: uppercase;
    
}
@media screen and (max-width:900px) {
    .re-use{
        height: 100%;
    }
    .re-use-wrapper{
        width: 99%;
    }
    .re-use-wrapper div{
        width:100%;
    }
}

@media screen and (max-width:500px) {
    .re-use-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}